<section id="jobs" class="container">
  <h1>All Jobs ({{jobs.length}})</h1>

  {{#each jobs}}
    <div class="job">
      <h3>{{title}}</h3>
      <p>{{description}}</p>
      <ul>
        <li>Budget: {{budget}}</li>
        <li><a href="mailto:{{contact_email}}" class="btn btn-reverse">Apply Now</a></li>
      </ul>
      <div class="tech">
        <small>Technologies Needed: <span>{{technologies}}</span></small>
      </div>
    </div>
  {{else}}
    <p>No jobs available</p>
  {{/each}}

</section>